@import 'vars'
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,700,700italic);

*,
*::before,
*::after
  box-sizing: border-box

html, body
  font-family: 'Fira Sans', sans-serif
  margin: 0
  padding: 0
  font-size: 15px
  color: #333

.site-footer
  max-width: $site-width
  margin: 0 auto
  margin-top: 1em
  text-align: center
  padding: 10px
  border-top: 1px solid #444

.site-header
  h1
    text-align: center
    font-weight: 300
